<section class="advantages">
    <div class="advantages-full">
        <div class="container advantages-container">
            <h2 class="visually-hidden">Advantages</h2>
            <ol class="advantages-list">
                <li class="advantages-item">
                    <div class="elements"></div>
                    <div class="advantages-item-text">Swimming and water sports: try your hand at water skiing</div>
                </li>
                <li class="advantages-item">
                    <div class="elements"></div>
                    <div class="advantages-item-text">Fishing: try to catch your own dinner</div></li>
                <li class="advantages-item">
                    <div class="elements"></div>
                    <div class="advantages-item-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</div></li>
                <li class="advantages-item">
                    <div class="elements"></div>
                    <div class="advantages-item-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</div></li>
            </ol>
        </div>
        <picture class="advantages-picture">
            <source srcset="../img/advantages.jpg 1x, ../img/advantages.jpg 2x" media="(min-width: 1280px)">
            <source srcset="../img/advantages-tab.jpg 1x, ../img/advantages-tab2x.jpg 2x" media="(min-width: 768px)"> <source srcset="../img/advantages-mob.jpg 1x, ../img/advantages-mob2x.jpg 2x" media="(min-width: 375px)">
            <img class="advantages-photo" src="../img/advantages-tab.jpg" alt="Lounge">
        </picture>
    </div>
</section>