<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav-soc">
      <nav class="nav-footer">
        <a href="../index.html" class="footer-logo">yachtsjet</a>
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">About</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Yachts</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-list-soc">
        <li class="footer-soc-item">
          <a href="#" class="footer-soc-link">
            <svg class="footer-soc-svg" width="19" height="19">
              <use href="../img/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="#" class="footer-soc-link">
            <svg class="footer-soc-svg" width="19" height="19">
              <use href="../img/icon.svg#icon-youTube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="#" class="footer-soc-link">
            <svg class="footer-soc-svg" width="19" height="19">
              <use href="../img/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <div class="footer-copyright">
      <p class="copyright">2023. Yacht Adventures</p>
      <p class="privacy">Privacy Police</p>
    </div>
  </div>
</footer>
