<header class="header-container">
  <a class="header-logo" href="/">yachtjet</a>
  <button class="header-btn" type="button">
    <svg class="header-icon" width="21" height="7">
      <use href="/img/icon.svg#icon-open"></use>
    </svg>
  </button>
  <nav class="header-navigation">
    <ul class="header-menu">
      <li class="header-list">
        <a href="/about" class="header-link header-link-active">About</a>
      </li>
      <li class="header-list">
        <a href="/yachts" class="header-link">Yachts</a>
      </li>
      <li class="header-list">
        <a href="/reviews" class="header-link">Reviews</a>
      </li>
    </ul>
  </nav>
  <div class="header-social-icons">
    <ul class="header-contacts-list">
      <li class="header-contacts-item">
        <a href="https://www.instagram.com/" class="header-contacts-link">
          <svg width="19" height="19" class="header-contacts-icon">
            <use href="/img/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-contacts-item">
        <a href="https://www.youtube.com/" class="header-contacts-link">
          <svg width="19" height="19" class="header-contacts-icon">
            <use href="/img/icon.svg#icon-youTube"></use>
          </svg>
        </a>
      </li>
      <li class="header-contacts-item">
        <a href="https://www.example.com/" class="header-contacts-link">
          <svg width="19" height="19" class="header-contacts-icon">
            <use href="../img/icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <!-- ------------------------------------- -->
  <!-- ------------------------------------- -->
  <div class="header-mobile ">
    <div class="header-model">
      <div class="header-mobile-background">
        <a href="/" class="header-mobile-logo">yachtjet</a>
        <button class="header-mobile-close">
          <svg class="header-mobile-close-icon" width="16" height="16">
            <use href="/img/icon.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="header-mobile-navigation">
        <ul class="header-mobile-menu">
          <li class="header-mobile-list">
            <a class="header-mobile-link header-mobile-link-blue" href="">About</a>
          </li>
          <li class="header-mobile-list">
            <a class="header-mobile-link" href="">Yachts</a>
          </li>
          <li class="header-mobile-list">
            <a class="header-mobile-link" href="">Reviews</a>
          </li>
        </ul>
      </nav>
      <address class="header-mobile-contacts">
        <ul class="header-mobile-contacts-list">
          <li class="header-mobile-contacts-item">
            <a href="https://www.instagram.com/" class="header-mobile-contacts-link">
              <svg width="20" height="20" class="header-mobile-contacts-icon">
                <use href="/img/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-mobile-contacts-item">
            <a href="https://www.youtube.com/" class="header-mobile-contacts-link">
              <svg width="20" height="20" class="header-mobile-contacts-icon">
                <use href="/img/icon.svg#icon-youTube"></use>
              </svg>
            </a>
          </li>
          <li class="header-mobile-contacts-item">
            <a href="https://www.example.com/" class="header-mobile-contacts-link">
              <svg width="20" height="20" class="header-mobile-contacts-icon">
                <use href="/img/icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>