<section class="ouryachts" id="ouryachts-price">
    <div class="container ouryachts-container">
        <h2 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h2>
        <div>
            <ul class="ouryachts-common-list">
                <li class="ouryachts-unit arrow-luxury-yahts">
                    <picture>
                        <source srcset="./img/ouryachts/arrow-desk-1x.jpg 1x, ./img/ouryachts/arrow-desk-2x.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./img/ouryachts/arrow-tab-1x.jpg 1x, ./img/ouryachts/arrow-tab-2x.jpg 2x"
                            media="(min-width: 767px)">
                        <source srcset="./img/ouryachts/arrow-mob-1x.jpg 1x, ./img/ouryachts/arrow-mob-2x.jpg 2x"
                            media="(max-width: 767px)">
                        <img class="ouryachts-imeg" src="./img/ouryachts/arrow-desk-1x.jpg" alt="Single sailing yacht"
                            width="345" height="368">
                    </picture>
                    <div class="ouryachts-box">
                        <div class="ouryachts-chapter">
                            <h3 class="ouryachts-item-first">ARROW</h3>
                            <h3 class="ouryachts-item-second">LUXURY YAHTS</h3>
                        </div>
                        <div class="ouryachts-list">
                            <ul class="ouryachts-second-list">
                                <li><span>LENGTH</span></li>
                                <li><span>BUILDER</span></li>
                                <li><span>BUILT</span></li>
                                <li><span>GUESTS</span></li>
                                <li><span>PRICE</span></li>
                            </ul>
                            <ul class="ouryachts-third-list">
                                <li><span>48m(155ft)</span></li>
                                <li><span>Admiral</span></li>
                                <li><span>2021</span></li>
                                <li><span>11 in 5 cabins</span></li>
                                <li><span>€33,500,000</span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ouryachts-unit benetti-luxury-yahts">
                    <picture>
                        <source srcset="./img/ouryachts/benetti-desk-1x.jpg 1x, ./img/ouryachts/benetti-desk-2x.jpg 2x"
                            media="(min-width: 1280px)">
                        <source srcset="./img/ouryachts/benetti-tab-1x.jpg 1x, ./img/ouryachts/benetti-tab-2x.jpg 2x"
                            media="(min-width: 767px)">
                        <img class="ouryachts-imeg" src="./img/ouryachts/benetti-desk-1x.jpg" alt="Three-masted yacht"
                            width="345" height="368">
                    </picture>
                    <div class="ouryachts-box">
                        <div class="ouryachts-chapter">
                            <h3 class="ouryachts-item-first">BENETTI OASIS 40...<span class="ouryachts-unseen-text">M
                                    BO122</span></h3>
                            <h3 class="ouryachts-item-second">LUXURY
                                YAHTS</h3>
                        </div>
                        <div class="ouryachts-list">
                            <ul class="ouryachts-second-list">
                                <li><span>LENGTH</span></li>
                                <li><span>BUILDER</span></li>
                                <li><span>BUILT</span></li>
                                <li><span>GUESTS</span></li>
                                <li><span>PRICE</span></li>
                            </ul>
                            <ul class="ouryachts-third-list">
                                <li><span>41m (133ft)</span></li>
                                <li><span>Benetti</span></li>
                                <li><span>2025</span></li>
                                <li><span>10 in 5 cabins</span></li>
                                <li><span>€23,210,000</span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ouryachts-unit belle-anna-yahts">
                    <picture>
                        <source
                            srcset="./img/ouryachts/belleanna-desk-img.jpg 1x, ./img/ouryachts/belleanna-desk-2x.jpg 2x"
                            media="(min-width: 1280px)">
                        <img class="ouryachts-imeg" src="../img/ouryachts/belleanna-desk-img.jpg"
                            alt="Three-masted yacht" width="345" height="368">
                    </picture>
                    <div class="ouryachts-box">
                        <div class="ouryachts-chapter">
                            <h3 class="ouryachts-item-first">BELLE ANNA</h3>
                            <h3 class="ouryachts-item-second">LUXURY YAHTS</h3>
                        </div>
                        <div class="ouryachts-list">
                            <ul class="ouryachts-second-list">
                                <li><span>LENGTH</span></li>
                                <li><span>BUILDER</span></li>
                                <li><span>BUILT</span></li>
                                <li><span>GUESTS</span></li>
                                <li><span>PRICE</span></li>
                            </ul>
                            <ul class="ouryachts-third-list">
                                <li><span>ISA</span></li>
                                <li><span>2012</span></li>
                                <li><span>2025</span></li>
                                <li><span>12 in 6 cabins</span></li>
                                <li><span></span>€21,000,000</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#rentyacht" class="ouryachts-button">Yacht rental</a>
    </div>
</section>