<section class="ouryachts" id="ouryachts-price">
    <div class="container ouryachts-container">
        <h2 class="ouryachts-title">Choose your dream yacht and sail away into the sunset</h2>
        <ul>
            <li class="ouryachts-unit arrow-luxury-yahts">
                <div class="ouryachts-card">
                    <div class="ouryachts-imeg">
                        <picture>
                            <source srcset="../img/ouryachts/ouryachts1.jpg 1x, ../img/ouryachts/ouryachts1-2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img src="../img/ouryachts/ouryachts-1.jpg" alt="Single sailing yacht">
                        </picture>
                    </div>
                    <h3 class="ouryachts-item-first">ARROW <span class="ouryachts-item-second">LUXURY YAHTS</span> </h3>
                    <div class="ouryachts-list">
                        <ul class="ouryachts-second-list">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="ouryachts-third-list">
                            <li>48m(155ft)</li>
                            <li>Admiral</li>
                            <li>2021</li>
                            <li>11 in 5 cabins</li>
                            <li>€33,500,000</li>
                        </ul>
                    </div>
                </div>
            </li>
            <a href="#" class="ouryachts-button">Yacht rental</a>
            <!-- <li class="ouryachts-unit benetti-luxury-yahts">
                <div class="ouryachts-card">
                    <div class="ouryachts-imeg">
                        <picture>
                            <source srcset="../img/ouryachts/ouryachts2.jpg 1x, ../img/ouryachts/ouryachts2-2x.jpg 2x"
                                media="(max-width: 767px)">
                            <img src="../img/ouryachts/ouryachts-2.jpg" alt="Single sailing yacht">
                        </picture>
                    </div>
                    <h3 class="ouryachts-item-first">BENETTI OASIS 40...<span class="ouryachts-item-second">LUXURY
                            YAHTS</span> </h3>
                    <div class="ouryachts-list">
                        <ul class="ouryachts-second-list">
                            <li>LENGTH</li>
                            <li>BUILDER</li>
                            <li>BUILT</li>
                            <li>GUESTS</li>
                            <li>PRICE</li>
                        </ul>
                        <ul class="ouryachts-third-list">
                            <li>41m (133ft)</li>
                            <li>Benetti</li>
                            <li>2025</li>
                            <li>10 in 5 cabins</li>
                            <li>€23,210,000</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li></li>
        </ul>
        <a href="#" class="ouryachts-button">Yacht rental</a> -->
    </div>
</section>