

.aboutus-wrap{
    border-radius: 24px;
    width: 100%;
    background-color: #fbfbfb;
    padding-top: 40px;
    background-size: cover;
}

.aboutus-text{
    margin-bottom: 20px;
}

.aboutus-head {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin: 0 20px 40px;
}

.aboutus-description {
    margin: 0 20px;

}

.aboutus-description-first {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.aboutus-description-second {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}



@media screen and (min-width: 768px) {
    
    .aboutus-wrap {
        padding-top: 50px;
        border-radius: 24px;
    }

    .aboutus-text {
        margin-bottom: 50px;
    }

    .aboutus-head {
        font-size: 48px;
        margin-left: 32px;
        margin-bottom: 50px;
        width: 536px;
    }

    .aboutus-description {
        margin-left: 30px;
        width: 389px;
    }

    .aboutus-description-first {
        font-size: 23px;
    }

    .aboutus-description-second{
        font-size: 13px;
        line-height: 1.15;
    }
/* 
    .aboutus-img {
        box-shadow: 0 2px 0 0 #1b414b;
    } */
}

@media screen and (min-width: 1280px) {

    .aboutus-text {
        display: flex;
        margin: 0 50px 100px 50px;
        justify-content: space-between;
    }

    .aboutus-head {
        margin: 0;
        width: 537px;
    }

    .aboutus-description {
        margin: 0;
        width: 404px;
    }

    .aboutus-description-first{
        width: 100%;
    }

    .aboutus-description-second{
        width: 100%;
    }

    .aboutus-img {
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }
}
