ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .advantages {
    margin-bottom: 150px;
  }
}

.advantages-photo {
  border-radius: 24px;
}

.list-ol {
  background-color: #1B414B;
  border-radius: 24px;
  min-width: 280px;
  min-height: 642px;
  padding: 80px 20px;
}
@media screen and (max-width: 768px) {
  .list-ol {
     margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .list-ol {
     width: 704px;
     min-height: 424px;
     padding: 90px 32px;
     margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .list-ol {
     float: left;
     width: 716px;
     padding: 90px 50px;
     margin-right: 32px;
     margin-bottom: 0;
  }
}

.advantages-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: counter;
}
@media screen and (max-width: 768px) {
  .advantages-list {
    flex-direction: column;
 }
}
@media screen and (min-width: 768px) {
  .advantages-list {
     flex-wrap: wrap;
     gap: 44px 32px;
  }
}
.advantages-item {
  counter-increment: counter;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.advantages-item::before {
  content: counter(counter, decimal-leading-zero);
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .advantages-item::before {
     font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-item {
     min-width: 304px;
     width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .advantages-item {
     min-width: 292px;
  }
}

.advantages-item-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;
  color: #fbfbfb;
}
.advantages-item-text::before {
  content: "";
  display: block;
  border-radius: 18px;
  height: 2px;
  background-color: rgba(251, 251, 251, 0.1);
  margin-top: 18px;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantages-item-text {
     font-size: 13px;
     line-height: 1.15;
  }
}

.advantages-photo {
  border-radius: 24px;
  min-width: 280px;
  width: 335px;
  height: 424px;
}

@media screen and (min-width: 768px) {
  .advantages-photo {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-photo {
     width: 432px;
  }
}
