.header-container {
}
.header-wrap {
  position: fixed;
  width: 100%;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  padding: 10px 29px;
  width: 320px;
  margin: 0 auto;
  z-index: 9;
}
.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-btn {
  background-color: transparent;
  padding: 10px;
  border: none;
  margin-left: auto;
}
.header-icon {
  display: flex;
  align-items: center;
  stroke: #1b414b;
}
.header-navigation {
  display: none;
}
.header-menu {
  display: flex;
  gap: 4px;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 5px;
}
.header-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #fbfbfb;
  width: 91px;
  height: 40px;
  padding: 15px 24px;
  background-color: rgba(27, 65, 75, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-active {
  background-color: #1b414b;
}
.header-social-icons {
  display: none;
}
.header-contacts-list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 11px;
}
.header-contacts-link {
  display: flex;
}
.header-contacts-icon {
  fill: #1b414b;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-icon:hover {
  fill: #062730;
}
.header-contacts-icon:focus {
  fill: #062730;
}
/* General styling for the header-mobile container */
.header-mobile {
  width: 100%;
  height: 100%;
  background-color: #0e1823;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
}

/* Styling when the is-open class is applied */
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Styling for the header content */
.header-model {
  /* Add any specific styles for the header content */
}

/* Styling for the header background */
.header-mobile-background {
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 12px 20px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

/* Styling for the mobile navigation menu */
.header-mobile-navigation {
  display: flex;
  flex-direction: column;
  /*gap: 4px;*/
  align-items: center;
  justify-content: center;
}

/* Styling for the logo */
.header-mobile-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

/* Styling for the close button */
.header-mobile-close {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Styling for the menu items */
.header-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-mobile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border-radius: 8px;
  padding: 15px 25px;
  background-color: rgba(27, 65, 75, 0.5);
  margin-bottom: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styling for contact information */
.header-mobile-contacts {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.header-mobile-link-blue {
  background-color: #1b414b;
}

/* Styling for the contact icons */
.header-mobile-contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-mobile-contacts-icon {
  fill: #fbfbfb;
}

/* Styling for the close icon */
.header-mobile-close-icon {
  fill: #055545;
}

@media screen and (max-width: 375px) {
  .header-wrap {
    min-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
  }
  .header-wrap {
    min-width: 704px;
    display: flex;
    /* align-items: baseline; */
    align-items: center;
    /* padding-bottom: 15px; */
  }
  .header-logo {
    font-size: 20px;
  }
  .header-btn {
    display: none;
  }
  .header-navigation {
    display: flex;
  }
  .header-social-icons {
    display: flex;
  }

  .header-mobile {
    display: none;
  }
  .header-link:hover {
    background-color: #1b414b;
  }
  .header-link:focus {
    background-color: #1b414b;
  }
}
@media screen and (min-width: 1280px) {
  /* .container {
    min-width: 1280px; */
  .header-wrap {
    width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .header-wrap {
    width: 1440px;
  }
}
