.header-container {
  /* display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  padding: 15px 29px;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px; */
}
.header-wrap {
  position: fixed;
  width: 100%;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  padding: 15px 29px;
  width: 320px;
  margin-left: 25px;
  margin-right: 25px;
  margin: 0 auto;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-btn {
  background-color: transparent;
  padding: 17px;
  border: none;
  margin-left: auto;
}
.header-icon {
  display: flex;
  align-items: center;
  stroke: #1b414b;
}
.header-navigation {
  display: none;
}
.header-menu {
  display: flex;
  gap: 4px;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 5px;
}
.header-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  color: #fbfbfb;
  width: 91px;
  height: 40px;
  padding: 15px 24px;
  background-color: rgba(27, 65, 75, 0.5);
}
.header-link-active {
  background-color: #1b414b;
}
.header-social-icons {
  display: none;
}
.header-contacts-list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 11px;
}
.header-contacts-link {
  display: flex;
}
.header-contacts-icon {
  fill: #1b414b;
}
.header-contacts-icon:hover {
  fill: #062730;
}
.header-contacts-icon:focus {
  fill: #062730;
}
.header-mobile {
  min-width: 100%;
  min-height: 100%;
  background-color: #0e1823;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-mobile-background {
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 12px 20px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}
.header-mobile-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-mobile-close {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-mobile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border-radius: 8px;
  padding: 15px 25px;
  background-color: rgba(27, 65, 75, 0.5);
  margin-bottom: 4px;
}
.header-mobile-link-blue {
  background-color: #1b414b;
}
.header-mobile-contacts-list {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.header-mobile-contacts-icon {
  fill: #fbfbfb;
}
.header-mobile-close-icon {
  fill: #055545;
}
@media screen and (min-width: 375px) {
  .header-wrap {
    min-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    margin-top: 32px;
  }
  .header-wrap {
    min-width: 768px;
    display: flex;
    align-items: baseline;
    padding-bottom: 15px;
  }
  .header-btn {
    display: none;
  }
  .header-navigation {
    display: flex;
  }
  .header-social-icons {
    display: flex;
  }

  .header-mobile {
    display: none;
  }
  .header-link:hover {
    background-color: #1b414b;
  }
  .header-link:focus {
    background-color: #1b414b;
  }
}
@media screen and (min-width: 1280px) {
  /* .container {
    min-width: 1280px; */
  .header-wrap {
    width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .header-wrap {
    width: 1440px;
  }
}
