/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./aboutus.css');
@import url('./ouryachts.css');
@import url('./advantages.css');
@import url('./rentyacht.css');
@import url('./reviews.css');
@import url('./footer.css');

body {
  font-family: Inter, Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: #0e1823;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 17px;
  padding-left: 17px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
  }
}